.cd-title {
    position: relative;
    height: 160px;
    line-height: 230px;
    text-align: center;
}
.cd-title h1 {
    font-size: 2.4rem;
    font-weight: 700;
}
@media only screen and (min-width: 768px) {
    .cd-title {
        line-height: 250px;
    }
}
@media only screen and (min-width: 1170px) {
    .cd-title {
        height: 200px;
        line-height: 300px;
    }
    .cd-title h1 {
        font-size: 3rem;
    }
}

.cd-intro {
    width: 90%;
    max-width: 768px;
    text-align: center;
}

.cd-intro {
    margin: 4em auto;
}
@media only screen and (min-width: 768px) {
    .cd-intro {
        margin: 5em auto;
    }
}
@media only screen and (min-width: 1170px) {
    .cd-intro {
        margin: 6em auto;
    }
}

.cd-headline {
    font-size: 3rem;
    line-height: 1.2;
}
@media only screen and (min-width: 768px) {
    .cd-headline {
        font-size: 4.4rem;
        font-weight: 300;
    }
}
@media only screen and (min-width: 1170px) {
    .cd-headline {
        font-size: 6rem;
    }
}
.cd-words-wrapper a {
    color: #414a53;
    display: inline-flex;
}
.cd-words-wrapper a span {
    font-weight: normal;
}
.cd-words-wrapper a strong {
    color: #007cbb;
}
.kathukum {
    font-weight: bold;
    font-family: monospace;
    font-size: 25px;
    color: #008cd2;
    width: auto;
    height: 38px;
    float: left;
    padding-right: 5px;
    border-right: 2px solid #0093dd;
    text-transform: uppercase;
    margin-right: 5px;
    line-height: 40px !important;
}
.katdet {
    float: left;
    position: relative;
}
.katdet strong {
    font-size: 14px;
    width: 100%;
    display: block;
}
.cd-words-wrapper {
    display: inline-block;
    position: relative;
    text-align: left;
    width: calc(100% - 217px);
    height: 40px;
    font-size: 19px;
    position: absolute;
    overflow: hidden;
    margin: 5px !important;
}
.cd-words-wrapper b {
    display: inline-block;
    position: absolute;
    white-space: nowrap;
    left: 0;
    top: 0;
}
.cd-words-wrapper b.is-visible {
    position: relative;
}
.no-js .cd-words-wrapper b {
    opacity: 0;
}
.no-js .cd-words-wrapper b.is-visible {
    opacity: 1;
}
#breaking-news {
    width: 100%;
    display: inline-block;
    margin-top: 100px;
    margin-bottom: -6px;
    position: relative;
    overflow: hidden;
    background: #0093dd;
}
.sitewidth {
    border: 1px solid #0093dd;
    overflow: hidden;
    background: #fff;
    height: 51px;
    width: 100%;
    position: relative;
}
.sitewidth ul li {
    float: left;
    list-style: none;
    font-weight: 500;
    font-size: 13px;
    height: 10px;
}

/* --------------------------------

xzoom

-------------------------------- */
.cd-headline.zoom .cd-words-wrapper {
    -webkit-perspective: 300px;
    -moz-perspective: 300px;
    perspective: 300px;
}
.cd-headline.zoom b {
    opacity: 0;
}
.cd-headline.zoom b.is-visible {
    opacity: 1;
    -webkit-animation: zoom-in 0.8s;
    -moz-animation: zoom-in 0.8s;
    animation: zoom-in 0.8s;
    z-index: 9999;
}
.cd-headline.zoom b.is-hidden {
    -webkit-animation: zoom-out 0.8s;
    -moz-animation: zoom-out 0.8s;
    animation: zoom-out 0.8s;
}

@-webkit-keyframes zoom-in {
    0% {
        opacity: 0;
        -webkit-transform: translateZ(100px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateZ(0);
    }
}
@-moz-keyframes zoom-in {
    0% {
        opacity: 0;
        -moz-transform: translateZ(100px);
    }
    100% {
        opacity: 1;
        -moz-transform: translateZ(0);
    }
}
@keyframes zoom-in {
    0% {
        opacity: 0;
        -webkit-transform: translateZ(100px);
        -moz-transform: translateZ(100px);
        -ms-transform: translateZ(100px);
        -o-transform: translateZ(100px);
        transform: translateZ(100px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
    }
}
@-webkit-keyframes zoom-out {
    0% {
        opacity: 1;
        -webkit-transform: translateZ(0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateZ(-100px);
    }
}
@-moz-keyframes zoom-out {
    0% {
        opacity: 1;
        -moz-transform: translateZ(0);
    }
    100% {
        opacity: 0;
        -moz-transform: translateZ(-100px);
    }
}
@keyframes zoom-out {
    0% {
        opacity: 1;
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateZ(-100px);
        -moz-transform: translateZ(-100px);
        -ms-transform: translateZ(-100px);
        -o-transform: translateZ(-100px);
        transform: translateZ(-100px);
    }
}
.dropdown-item {
    padding: 2px 10px !important;
}